.flex-row {
	display: flex;
	flex-direction: row;
	/*flex-wrap: wrap;*/
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.flex-center {
	align-items: center;
	justify-content: center;
}
h3, h4, legend {
	text-shadow: 1px 1px 2px #ccc;
}
.title {
	padding: 25px;
}
#school .selector-container {
	padding: 25px;
	padding-bottom: 0;
}
#school .school-info {
	padding: 25px;
}
#school .school-info h3 {
	margin: 0;
}
#school hr {
	border-color: #aaa;
}
#school table {
	margin-left: 25px;
}
#school table thead tr th {
	width: 11%;
}
#school table thead tr th:first-child {
	width: 23%;
}
@media print {
	body,
	body > .container {
		width: 850;
		margin: 0;
		padding: 0;
	}
}
