.flex-row {
	display: flex;
	flex-direction: row;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.flex-center {
	align-items: center;
	justify-content: center;
}
h3, h4, legend {
	text-shadow: 1px 1px 2px #ccc;
}
hr {
	border-color: #aaa;
}
.title {
	padding: 25px;
}
.selector-container {
	padding: 25px;
	padding-bottom: 0;
}

.nav-tabs li:last-child {
	float: right;
}

#student .student-info,
#school .school-info,
#division .division-info,
#tournament .tournament-info {
	padding: 25px;
	margin: 0;
}
#school table,
#division table,
#tournament table,
#log table {
	margin-left: 25px;
}
#school table thead tr th,
#bulk .bulk-schools table thead tr th {
	width: 11%;
}
#school table thead tr th:first-child,
#bulk .bulk-schools table thead tr th:first-child {
	width: 23%;
}
#division table thead tr th,
#bulk .bulk-divisions table thead tr th {
	width: 37%;
}
#division table thead tr th:first-child,
#bulk .bulk-divisions table thead tr th:first-child {
	width: 10%;
}
#division table thead tr th:last-child,
#bulk .bulk-divisions table thead tr th:last-child {
	width: 16%;
}
#tournament table.items-analysis td.correct-answer {
	font-weight: bold;
	color: purple;
}
#tournament p {
	margin-left: 25px;
}
#bulk .buttons-container {
	padding: 25px;
}
#log .container {
	padding: 25px;
}
#log table thead th:nth-child(0n+1) {
	width: 5%;
}
#log table thead th:nth-child(0n+2) {
	width: 30%;
}
#log table thead th:nth-child(0n+4) {
	width: 20%;
}


@media print {
	body > .container {
		width: 900px;
	}
	#bulk .bulk-schools > div,
	#bulk .bulk-divisions > div,
	#bulk .bulk-labels > div {
		page-break-after: always;
	}
}
